# Build artifacts
bin/
obj/

# Environment variables
.env
*.env

# Editor / IDE
.vSCode/
.idea/

# OS files
.DS_Store

# Logs
#*.log

# TxtFile
*.txt

# Do not ignore .gitkeep inside logs. Used to keep an empty folder
!logs/.gitkeep